@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&family=Roboto&display=swap');

:root{
      --primary-color: #0689cc;
      --secondary-color: rgba(17, 17, 17, 0.811);
      --dark-color: #011629;
      --light-color: #adc9d37b;
      --color: #fff;
      --color-1: #000;
      --color-3: #fff;
      --card-color: rgba(14, 36, 49, 0.15);
      --ascent-color: #e39e22;
      --hero-color: rgba(2, 13, 28, 0.9);
}
*{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
}
html{
      font-size: 16px;
      scroll-behavior: smooth;
}
body{
      font-family: 'Ubuntu', sans-serif;
      position: relative;
      background-color: var(--color-3);
      color: var(--color-1);
}
::-webkit-scrollbar-thumb{
      background-color: var(--primary-color);
}
::-webkit-scrollbar{
      width: 4px;
      background-color: var(--light-color);
}
::-webkit-scrollbar:hover{
      width: 8px;
}

.social_icons{
      /* font-size: 2rem; */
      margin-top: 1.3rem;
      color: var(--ascent-color);
}

/* navbar */
header{
      height: 5rem;
      top: 0;
      left: 0;
      width: 100%;
      background-color: rgba(24, 24, 66, 0.719);
}

section{
      background-attachment: fixed;
}
.sticky{
      position: fixed;
      top: 0;
      left: 0;
      z-index: 14;
}
.nav__toggle{
      display: none;
}
.name-1{
      font-size: 3.2rem;
      color: var(--hero-color);
}
.name-2{
      font-size: 1.5rem;
      letter-spacing: 1px;
      /* color: var(--color-1); */
      color: var(--hero-color);
      margin-bottom: 10px;
}
.logo{
      display: flex;
      align-items: center;
      font-family: 'Rampart one', cursive;
      font-size: 1.5rem;
      color: var(--ascent-color);
}
.logo img{
      display: inline;
      width: 40px;
      height: 40px;
}
.hero_side-text{
      position: relative;
      z-index: 5;
}
.hero .container{
      background-image: url(/img/pngfind.com-happy-person-png-1647027.png);
      background-position: 80%;
      background-size: contain;
      background-repeat: no-repeat;

}
.hero{
      /* min-height: 100vh; */
      font-family: 'Rampart one', cursive;
      background-color: var(--light-color);
      position: relative;
      z-index: 2;
      color: var(--hero-color);
}
.hero::after{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(1, 2, 1, 0.151);
      z-index: 1;
      width: 100%;
      height: 100%;
}
.hero_img{
      position: relative;
      height: 100%;
      background-image: url('/img/image-from-rawpixel-id-3032035-original.png');
      background-position: center;
      background-size: cover;
}
.motion{
      position: absolute;
      width: 40px;
      height: 40px;
      border: 3px solid var(--primary-color);
      top: 100px;
      right: 70px;
      z-index: 110;
      animation: motion 8s infinite;
}
.motion-2{
      top: 450px;
      left: 50%;
}
@keyframes motion {
      0%{
            transform: rotate(360deg);
      }
      100%{
            transform: rotate(10deg);
      }
}
.user_picx{
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
}
.shapes{
      position:absolute;
      z-index: 1;
      bottom:  -100px;
      right: -80px;
}
img.user_picx{
      width: 400px;
}
.hero_side-text{
      align-self: flex-start;
}
/* ################################ HERO ENDS ########################## */

/* -######--ABOUT ME---##### */
.about{
      color: var(--color-1);
}
.about .grid{
      grid-template-columns: 1fr 2fr;
}
.about_img{
      border-radius: 5%;
}
.about_img img{
      border-radius: 5%;
}
.about_text p{
      line-height: 26px;
      max-width: 75%;
}

/* ######---SKILLS---###### */
.skills{
      background: var(--light-color);
      padding: 0 6rem !important;
}
.skill_img{
      padding: 0 5rem;
}
.skills__data{
      display: flex;
      justify-content: space-between;
      background-color: var(--color-3);
      align-items: center;
      position: relative;
      padding: 1rem 1rem;
      margin-bottom: 1rem;
      border-radius: .5rem;
      box-shadow: inset 0 10px 25px rgba(14, 36, 49, 0.15);
}
.skills__icon{
      font-size: 2.2rem;
      margin-right: 1rem;
      color: var(--primary-color);
}
.skills__names{
      display: flex;
      align-items: center;
}
.skills__bar{
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: var(--primary-color);
      height: .35rem;
      border-radius: .5rem;
      z-index: 1;
}
.skills__html{
      width: 95%;
}
.skills__css{
      width: 85%;
}
.skills__javascript{
      width: 80%;
}
.skills__jquery{
      width: 90%;
}

/* ################# WHAAT I DO  #################### */
.wedo{
      background-color: var(--primary-color);
      /* color: var(--color); */
      color: #fff;
      margin-top: 5rem;
}
/* ###############---WORKS---############# */
.work .flex{
      flex-wrap: wrap;
      gap: 2rem;
}
.work_img{
      width: 100%;
      height: 100%; 
      box-shadow: 0 4px 25px var(--card-color);
      border-radius: .5rem;
      overflow: hidden;
      padding: 30px;
      position: relative;
}
.previews{
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      background: var(--secondary-color);
      width: 100%;
      height: 0%;
      top: 0;
      left: 0;
      z-index: 5;
      transition: all 1s;
}
.btn-preview{
      opacity: 0;
      color: #fff;
      border: 1px solid #ddd !important;
      border-radius: 5px;
}
.work_img:hover .previews{
      height: 100%;
}
.work_img:hover a{
      opacity: 1;
}
.work_img img{
      transition: 1s;
      cursor: pointer;
}
.work_img img:hover{
      transform: scale(1.2);
}

/* ############### REVIEWS ############ */
.rev{
      background-color: var(--light-color);
}
.view{
      width: 468px;
      padding: 2rem 0;
      border: 2px solid var(--primary-color);
}
.rev .container{
      text-align: center;
      max-width: 1000px;
}
.review__img{
      width: 250px;
      height: 250px;
      border-radius: 5%;
      margin: 0 auto;
}
.review__img img{
      border-radius: 50% 20% 2% 50%;
      border: 2px solid var(--primary-color);
}
.review-title{
      text-transform: capitalize;
      font-size: 1.5rem;
}
.review__text{
      width: 90%;
      margin: 0 auto;
      margin-top: 2rem;
}
.review__text span i{
      color: #e39e22;
      font-size: 1.4rem;
      letter-spacing: 5px;
}

/* ######---CONTAC---##### */
.contact__input{
      width: 100%;
      font-size: 20px;
      font-weight: bold;
      padding: 1rem;
      border-radius: .5rem;
      margin-bottom: 1rem;
      outline: none;
      border: 1px solid var(--primary-color);
      background-color: var(--color);
}
.contact__button{
      display: block;
      border: none;
      outline: none;
      font-size: 20px;
      cursor: pointer;
      margin-left: auto;
      background-color: var(--primary-color);
      color: #fff;
}

/* ######---FOOTER---##### */
.footer{
      background: var(--dark-color);
      color: #ddd;
      font-weight: bold;
      padding: 2rem 0;
}
.footer__link li{
      margin-bottom: 1rem;
}
.footer__link li a{
      color: #ddd;
      font-size: 1.2rem;
}
.footer__title{
      font-size: 2rem;
      margin-bottom: 2rem;
}
.footer__social{
      margin-bottom: 3rem;
}
.footer__icon{
      font-size: 1.5rem;
      color: #fff;
      margin: 0 1rem;
}

.mode{
      position: fixed;
      right: 10px;
      bottom: 20px;
      background-color: black;
      color: #fff;
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
      font-weight: bold;
      z-index: 99;
}
.light{
      background-color: white;
      color: black;
}
/* media query */
@media (max-width: 768px) {
      body{
            font-size: 18px;
      }
      .about_text p, .skill_text p{
            width: 100%;
            font-size: 1.3rem;
            line-height: 2.4rem;
            max-width: 100%;
      }
      .skill_img{
            padding: 50px;
      }
      .work .grid{
            grid-gap: 60px;
      }
      .work_img{
            padding: 30px;
      }
      .nav__toggle{
            display: block;
            font-size: 2.3rem;
            color: #fff;
      }
      .nav__menu{
            position: fixed;
            top: 73px;
            right: -100%;
            width: 70%;
            height: 100%;
            padding: 2rem;
            background-color: var(--dark-color);
            transition: .5s;
            z-index: 10;
      }
      ul.nav__list{
            padding: 50px 0;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
      }
      .nav__items:hover{
            position: relative;
      }
      .nav__link:hover::after{
            content: "";
            position: absolute;
            background-color: var(--primary-color);
            width: 70px;
            height: 3px;
            bottom: 0;
            left: 0;
            right: 0;
      }
      ul.nav__list li a{
            color: #fff !important;
      }
      .nav__items{
            margin-bottom: 2rem;
      }
      .show{
            right: 0;
      }
      .grid{
            grid-template-columns: 1fr !important;
      }
      .grid-1{
            width: 97% !important;
      }
      .work .grid{
            grid-template-columns: 1fr 1fr !important;
      }
      .px-4{
            padding: 0 .5rem !important;
      }
      .reviews{
            height: 600px !important;
      }
      .reviews .grid{
            grid-gap: 1px !important;
      }
      .review__text{
            height: 100% !important;
      }
      .overflow{
            width: 90%;
      }
      .skills{
            padding: 0 1rem !important;
      }
}
@media (max-width: 550px) {
      .work .grid{
            grid-template-columns: 1fr !important;
      }      
}

@media (max-width: 1028px) {
      .reviews{
            height: 65vh !important;
      }
}